<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/theme.Time2Go"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Onboarding1Activity"
            android:exported="false" />

        <activity
            android:name=".activities.Onboarding2Activity"
            android:exported="false" />

        <activity
            android:name=".activities.Onboarding3Activity"
            android:exported="false" />

        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".activities.MainScreenActivity"
            android:exported="false" />

        <activity
            android:name=".activities.RouteDetailActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.AddReviewActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.AllReviewsActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.ImageViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".activities.FavoritesActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.AllUserRoutesActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.CategoryRoutesActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.CreateRouteActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.EditRouteActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.MyRoutesActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.MyReviewsActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go" />

        <activity
            android:name=".activities.AssistantActivity"
            android:exported="false"
            android:theme="@style/theme.Time2Go"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>